
<!-- Footer ====================================================== -->
<footer class="page-footer">
    <p>
        &copy; 2020      &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://magnoliosala.uy" target="_blank" title="Magnolio Sala">Magnolio Sala</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://goo.gl/maps/DHZoRF8XX8tMLCMo8" target="_blank" title="Magnolio Sala en Google Maps">
          Pablo de María 1015</a>
         — Montevideo, Uruguay.
    </p>
    <p>
      Director Ejecutivo: Rodrigo García · <a href="mailto:&#114;o&#100;&#114;i&#103;&#111;&#46;&#103;&#97;&#114;&#99;&#105;&#97;&#64;&#109;&#97;&#103;&#110;&#111;&#108;&#105;&#111;&#46;&#117;&#121;">&#114;o&#100;&#114;i&#103;&#111;&#46;&#103;&#97;&#114;&#99;&#105;&#97;&#64;&#109;&#97;&#103;&#110;&#111;&#108;&#105;&#111;&#46;&#117;&#121;</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      Directora Comercial: Karen Jawetz · <a href="mailto:&#107;&#97;&#114;&#101;&#110;&#64;%62%65&#101;&#46;&#99;&#111;&#109;&#46;&#117;&#121;">karen@bee.com.uy</a>
    </p>
    <p>
        Hosted by: <a target="_blank" title="NetUy" href="https://www.netuy.net/">NetUy</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        Logo de Magnolio Sala, diseños y desarrollo del sitio: <strong>Equipo Digital de Magnolio Media Group</strong>.
    </p>
  </footer>
  