<!DOCTYPE html>

<!--
Nombre del Sitio: Magnolio Sala
Diseñado, desarrolado y mantenido por el Equipo Digital de Magnolio Media Group
· Diseño UI/UX & HTML/CSS/JS Front-End, logos: Fede Hartman — ✉️ hola😁fedehartman.com — http://fedehartman.com | @fedee
· Desarrollo de Backend/Frontend & API: Pablo Erartes — ✉️ digital😁elespectador.com.uy | @pabloeuy
· Jefe del Equipo Digital: Mauricio Erramuspe — ✉️ merramuspe😁gmail.com | @Mauricio180
Desarrollo v0.5-2019: Sep 2019
-->

<html lang="es-UY" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <section class="page-content" aria-label="Content">
      <div class="eventos-box">
        {{ content }}
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>
